# MongoDB Atlas Connection
MONGODB_URI=
MONGODB_DB=pure_ayur_herbs

# Resend Email Integration
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

# NimbusPost Automated Logistics Partner API v2
NIMBUSPOST_API_KEY=
NIMBUSPOST_API_SECRET=
NIMBUSPOST_WAREHOUSE_ID=PURE AYUR HERBS
ACTIVE_LOGISTICS_PARTNER=nimbuspost
